@model List<EmployeePortal.Models.Domain.Employee>
@{

}

<h1>Employees</h1>
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model){
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
                <td>@employee.Salary</td>
                <td>@employee.DateOfBirth</td>
                <td>@employee.Department</td>
                <td>
                    <a href="Employees/View/@employee.Id">
                        <i class="fa-regular fa-pen-to-square" style="color:#ffffff;margin:1em" title="Edit"></i>
                    </a>
                    <a href="Employees/DeleteList/@employee.Id">
                        <i class="fa-solid fa-trash" style="color: #ffffff; margin:1em" title="Delete"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>